<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>IBIS Server</title>
   <meta name="keywords" content="" />
   <meta name="description" content="Serving IBIS Conversations" />
 </head>
 <body>
  <h1>IBIS Server Admin</h1>
  <a href="/admin/NewAccount">Create New Account</a><br />
  <a href="/admin/ListMembers">List Members</a><br />
  <hr>
  #parse("front-content.vm")
 </body>
</html>